body {
    background: url("/pawel-czerwinski.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

header {
    font-size: 38px;
    margin-top: 140px;
    font-weight: bold;
}

#info {
    font-size: 25px;
    margin: 50px auto 20px;
    color: #333;
    line-height: 1.5;
    text-align: center;
}

#info a {
    color: #333;
    vertical-align: bottom;
}

#info a:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
}

footer .contact-details {
    background-color: rgba(0, 0, 0, .4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact-details:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .6);
}

@media only screen and (min-device-width: 200px) and (max-device-width: 480px) {
    #info {
        width: 80%;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    #info {
        width: 70%;
    }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1800px) {
    #info {
        width: 60%;
    }
}